<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
	<div class="modal-container" (click)="$event.stopPropagation()">

		<h2>Documentos del viajero</h2>

		<div class="divider"></div>

		<div class="loading" *ngIf="isLoading">
			Cargando documentos...
		</div>

		<div class="empty" *ngIf="!isLoading && documents.length === 0">
			No hay documentos registrados.
		</div>

		<div class="document-row" *ngFor="let doc of documents">
			<div class="document-info">
				<strong>
					{{ getDocumentName(doc.documentType) }}
				</strong>

				<small>
					Estado:
					{{ getStatus(doc.status) }}
				</small>
			</div>

			<button class="view-btn" (click)="viewDocument(doc.idDocument)">
				<i class="fa-regular fa-eye"></i>
				Ver documento
			</button>
		</div>

		<div class="buttons">
			<button class="btn-close" (click)="close()">
				Cerrar
			</button>
		</div>
	</div>
</div>