.toast {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99999;
	animation: slideDown 0.3s ease;
}

.toast-content {
	background: white;
	min-width: 340px;
	max-width: 450px;
	padding: 22px 20px;
	border-radius: 18px;
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
	text-align: center;
	font-family: "Outfit", sans-serif;
	border-top: 5px solid var(--color-primario);
}

.toast-content h4 {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	color: var(--color-texto-principal);
}

.toast-content p {
	margin-top: 10px;
	font-size: 18px;
	color: var(--color-texto-secundario);
	line-height: 1.5;
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translate(-50%, -20px);
	}

	to {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}