<div class="content">
	<!-- PERFIL -->
	<div class="profile-header">

		<div class="image-profile">
			<img src="https://i.pravatar.cc/300" alt="profile" class="profile-image" />
		</div>

		<div class="profile-info">
			<h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
			<p class="role" *ngIf="displayRole">{{ displayRole }}</p>
			<button class="btn-edit" *ngIf="!isEditing" (click)="enableEdit()">Editar perfil</button>
		</div>
	</div>

	<!-- FORMULARIO -->
	<form *ngIf="isEditing" [formGroup]="profileForm" class="edit-form">

		<!-- NOMBRE -->
		<div class="form-group">
			<input type="text" formControlName="firstName" id="firstName" placeholder="Nombre"
				[class.ng-invalid]="f.firstName.invalid && f.firstName.touched"
				[class.ng-touched]=" f.firstName.touched" />
			<label for="firstName">Nombre</label>

			<span class="error-message" *ngIf="f.firstName.touched && f.firstName.errors?.['minlength']">
				El nombre debe tener al menos 3 caracteres
			</span>
		</div>

		<!-- APELLIDO -->
		<div class="form-group">
			<input type="text" formControlName="lastName" id="lastName" placeholder="Apellido"
				[class.ng-invalid]="f.lastName.invalid && f.lastName.touched" [class.ng-touched]="f.lastName.touched" />
			<label for="lastName">Apellido</label>
		</div>

		<!-- EMAIL -->
		<div class="form-group full-width">
			<input type="email" formControlName="email" id="email" placeholder="Correo electrónico"
				[class.ng-invalid]="f.email.invalid && f.email.touched" [class.ng-touched]="f.email.touched" />
			<label for="email">Correo electrónico</label>

			<span class="error-message" *ngIf="f.email.touched && f.email.errors?.['email']">Correo inválido</span>
		</div>

		<!-- TIPO DE DOCUMENTO -->
		<div class="form-group form-group-small custom-select-group">
			<div class="custom-select" [class.open]="documentDropdownOpen" [class.selected]="selectedDocumentType"
				[class.ng-invalid]="f.documentType.invalid && f.documentType.touched"
				(click)="toggleDocumentDropdown($event)">

				<div class="custom-select-value">{{ selectedDocumentType || 'Tipo documento' }}</div>

				<i class="fa-solid fa-angle-down select-icon"></i>

				<div class="custom-select-dropdown" *ngIf="documentDropdownOpen" (click)="$event.stopPropagation()">

					<div class="custom-option" *ngFor="let option of documentTypes"
						[class.active]="selectedDocumentType === option"
						(click)="selectDocumentType(option); $event.stopPropagation()">
						{{ option }}
					</div>

				</div>
			</div>

			<label [class.active]="selectedDocumentType">Tipo documento</label>
		</div>

		<!-- NÚMERO DE DOCUMENTO -->
		<div class="form-group form-group-large">
			<input type="text" formControlName="documentNumber" placeholder="Número documento" id="documentNumber"
				oninput="this.value = this.value.replace(/[^0-9]/g, '')"
				[class.ng-invalid]="f.documentNumber.invalid && f.documentNumber.touched"
				[class.ng-touched]="f.documentNumber.touched" />

			<label for="documentNumber">Número documento</label>

			<span class="error-message"
				*ngIf="f.documentNumber.touched &&(f.documentNumber.errors?.['minlength'] ||f.documentNumber.errors?.['maxlength'])">
				Número de documento inválido
			</span>
		</div>

		<!-- TELÉFONO -->
		<div class="form-group">
			<input type="text" id="phone" formControlName="phone" placeholder="Teléfono"
				oninput="this.value = this.value.replace(/[^0-9]/g, '')"
				[class.ng-invalid]="f.phone.invalid && f.phone.touched" [class.ng-touched]="f.phone.touched" />
			<label for="phone">Teléfono</label>

			<span class="error-message"
				*ngIf="f.phone.touched && (f.phone.errors?.['minlength'] || f.phone.errors?.['maxlength'])">
				Número de teléfono inválido
			</span>
		</div>

		<!-- FECHA DE NACIMIENTO -->
		<div class="form-group date-wrapper">

			<div class="date-input-custom" (click)="toggleBirthCalendar($event)"
				[class.ng-invalid]="f.birthDate.invalid && f.birthDate.touched"
				[class.ng-touched]="f.birthDate.touched">
				<span>{{ selectedBirthDate || 'Fecha nacimiento' }}</span>
				<i class="fa-regular fa-calendar"></i>
			</div>

			<label [class.active]="selectedBirthDate">Fecha de nacimiento</label>

			<app-custom-calendar [isOpen]="birthCalendarOpen"
				(dateSelected)="onDateSelected($event)"></app-custom-calendar>

			<span class="error-message" *ngIf="f.birthDate.touched && f.birthDate.errors?.['minAge']">
				Debes ser mayor de edad
			</span>
		</div>

		<!-- DEPARTAMENTO -->
		<div class="form-group">
			<input type="text" formControlName="state" id="state" placeholder="Departamento"
				[class.ng-invalid]="f.state.invalid && f.state.touched" [class.ng-touched]="f.state.touched" />
			<label for="state">Departamento</label>
		</div>

		<!-- CIUDAD -->
		<div class="form-group">
			<input type="text" formControlName="city" id="city" placeholder="Ciudad"
				[class.ng-invalid]="f.city.invalid && f.city.touched" [class.ng-touched]="f.city.touched" />
			<label for="city">Ciudad</label>
		</div>

		<!-- DIRECCIÓN -->
		<div class="form-group full-width">
			<input type="text" formControlName="address" id="address" placeholder="Dirección"
				[class.ng-invalid]="f.address.invalid && f.address.touched" [class.ng-touched]="f.address.touched" />
			<label for="address">Dirección</label>
		</div>

		<!-- BOTONES -->
		<div class="buttons">
			<button type="button" class="btn-cancel" (click)="cancelEdit()">Cancelar</button>
			<button type="button" class="btn-save" (click)="saveProfile()">Guardar</button>
		</div>
	</form>
</div>