<div class="content">
	<!-- PERFIL -->
	<div class="profile-header">

		<div class="image-profile">
			<img [src]="'https://ui-avatars.com/api/?name=' + user?.firstName + '&background=3fa2db&color=fff&size=120'"
				alt="user" class="user-avatar" />
		</div>

		<div class="profile-info">
			<h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
			<p class="role" *ngIf="displayRole">{{ displayRole }}</p>
			<button class="btn-edit" *ngIf="!isEditing" (click)="enableEdit()">Editar perfil</button>
		</div>
	</div>

	<!-- FORMULARIO -->
	<form *ngIf="isEditing" [formGroup]="profileForm" class="edit-form">

		<!-- NOMBRE -->
		<div class="form-group">
			<input type="text" formControlName="firstName" id="firstName" placeholder="Nombre"
				[class.ng-invalid]="f.firstName.invalid && f.firstName.touched"
				[class.ng-touched]=" f.firstName.touched" />
			<label for="firstName">Nombre</label>

			<span class="error-message" *ngIf="f.firstName.touched && f.firstName.errors?.['minlength']">
				El nombre debe tener al menos 3 caracteres
			</span>
		</div>

		<!-- APELLIDO -->
		<div class="form-group">
			<input type="text" formControlName="lastName" id="lastName" placeholder="Apellido"
				[class.ng-invalid]="f.lastName.invalid && f.lastName.touched" [class.ng-touched]="f.lastName.touched" />
			<label for="lastName">Apellido</label>
		</div>

		<!-- TELÉFONO -->
		<div class="form-group">
			<input type="text" id="phone" formControlName="phone" placeholder="Teléfono"
				oninput="this.value = this.value.replace(/[^0-9]/g, '')"
				[class.ng-invalid]="f.phone.invalid && f.phone.touched" [class.ng-touched]="f.phone.touched" />
			<label for="phone">Teléfono</label>

			<span class="error-message"
				*ngIf="f.phone.touched && (f.phone.errors?.['minlength'] || f.phone.errors?.['maxlength'])">
				Número de teléfono inválido
			</span>
		</div>

		<!-- FECHA DE NACIMIENTO -->
		<div class="form-group date-wrapper">

			<div class="date-input-custom" (click)="toggleBirthCalendar($event)"
				[class.ng-invalid]="f.birthDate.invalid && f.birthDate.touched"
				[class.ng-touched]="f.birthDate.touched">
				<span>{{ selectedBirthDate || 'Fecha nacimiento' }}</span>
				<i class="fa-regular fa-calendar"></i>
			</div>

			<label [class.active]="selectedBirthDate">Fecha de nacimiento</label>

			<app-custom-calendar [isOpen]="birthCalendarOpen" [selectedDate]="selectedBirthDate"
				(dateSelected)="onDateSelected($event)"></app-custom-calendar>

			<span class="error-message" *ngIf="f.birthDate.touched && f.birthDate.errors?.['minAge']">
				Debes ser mayor de edad
			</span>
		</div>

		<!-- DEPARTAMENTO -->
		<div class="form-group custom-select-group">

			<div class="custom-select" [class.open]="departmentDropdownOpen" [class.selected]="selectedDepartment"
				[class.invalid]="f.state.invalid && f.state.touched" (click)="toggleDepartmentDropdown($event)">

				<div class="custom-select-value">
					{{ selectedDepartment }}
				</div>

				<i class="fa-solid fa-angle-down select-icon"></i>

				<div class="custom-select-dropdown" *ngIf="departmentDropdownOpen" (click)="$event.stopPropagation()">

					<div class="custom-option" *ngFor="let department of departments"
						[class.active]="selectedDepartment === department"
						(click)="selectDepartment(department); $event.stopPropagation()">

						{{ department }}
					</div>
				</div>
			</div>

			<label [class.active]="selectedDepartment">
				Departamento
			</label>
		</div>

		<!-- CIUDAD -->
		<div class="form-group custom-select-group">

			<div class="custom-select" [class.open]="cityDropdownOpen" [class.selected]="selectedCity"
				[class.disabled]="!selectedDepartment" (click)="toggleCityDropdown($event)">

				<div class="custom-select-value">
					{{ selectedCity }}
				</div>

				<i class="fa-solid fa-angle-down select-icon"></i>

				<div class="custom-select-dropdown" *ngIf="cityDropdownOpen && selectedDepartment"
					(click)="$event.stopPropagation()">

					<div class="custom-option" *ngFor="let city of cities" [class.active]="selectedCity === city"
						(click)="selectCity(city); $event.stopPropagation()">

						{{ city }}
					</div>
				</div>
			</div>

			<label [class.active]="selectedCity">
				Ciudad
			</label>
		</div>

		<!-- DIRECCIÓN -->
		<div class="form-group full-width">
			<input type="text" formControlName="address" id="address" placeholder="Dirección"
				[class.ng-invalid]="f.address.invalid && f.address.touched" [class.ng-touched]="f.address.touched" />
			<label for="address">Dirección</label>
		</div>

		<!-- BOTONES -->
		<div class="buttons">
			<button type="button" class="btn-cancel" (click)="cancelEdit()">Cancelar</button>
			<button type="button" class="btn-save" (click)="saveProfile()" [disabled]="!hasChanges()">Guardar</button>
		</div>
	</form>
</div>

<app-confirm-modal [isOpen]="showConfirmModal" title="Guardar cambios"
	message="¿Estás seguro de que deseas actualizar la información de tu perfil?" confirmText="Sí, guardar"
	cancelText="Cancelar" icon="fa-solid fa-circle-question" confirmColor="var(--color-primario)"
	iconBg="rgba(63, 162, 219, 0.12)" iconColor="var(--color-primario)" (confirmed)="confirmSaveProfile()"
	(closed)="closeConfirmModal()">

</app-confirm-modal>

<!-- Modal notificación  -->

<app-toast-notification [show]="showSuccessToast" title="Perfil actualizado"
	message="La información fue actualizada correctamente.">
</app-toast-notification>

<!-- Modal de error -->

<app-confirm-modal [isOpen]="showErrorModal" title="Error" [message]="errorMessage" confirmText="Entendido"
	cancelText="" icon="fa-solid fa-circle-xmark" confirmColor="#ff3b3b" iconBg="rgba(255, 59, 59, 0.12)"
	iconColor="#ff3b3b" (confirmed)="showErrorModal = false" (closed)="showErrorModal = false">
</app-confirm-modal>