.body {
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
	margin: auto;
	height: 100vh;
}

.body>* {
	flex: 1;
	min-width: 0;
	/* evita desbordes raros */
}

@media(max-width: 1279px) {
	.body app-auth-banner {
		display: none;
	}
}

@media (max-width: 920px) {
	.body {
		width: 100%;
		justify-content: center;
		padding: 0 24px;
		box-sizing: border-box;
	}

	.body app-auth-banner {
		display: none;
	}

	.body app-login-form {
		flex: 0 1 520px;
		width: 100%;
	}
}