<div class="search-filter-container">
	<div class="filter-bar">

		<!-- Destino -->
		<div class="filter-item">
			<div class="filter-icon">
				<i class="fa-regular fa-map"></i>
			</div>
			<div class="filter-content">
				<label for="destino">Destino</label>
				<input id="destino" type="text" placeholder="¿A dónde quieres viajar?" [(ngModel)]="destino" (keyup.enter)="buscar()" />
			</div>
		</div>

		<div class="divider"></div>

		<!-- Personas -->
		<div class="filter-item">
			<div class="filter-icon">
				<i class="fa-regular fa-user"></i>
			</div>
			<div class="filter-content">
				<label for="personas">Personas</label>
				<input type="number" id="personas" placeholder="¿Cuántas personas viajan?" min="1" [(ngModel)]="personas" (keyup.enter)="buscar()" />
			</div>
		</div>

		<div class="divider"></div>

		<!-- Fecha salida -->
		<div class="filter-item date-wrapper">
			<div class="filter-icon">
				<i class="fa-regular fa-calendar"></i>
			</div>

			<div class="filter-content" (click)="toggleCalendar($event)">
				<label>Fecha salida</label>
				<input type="text" readonly [value]="fechaSalida" placeholder="Selecciona tu fecha" />
			</div>

			<app-custom-calendar (click)="$event.stopPropagation()" *ngIf="showCalendar" [isOpen]="showCalendar"
				[selectedDate]="fechaSalidaISO" [disablePastDates]="true" (dateSelected)="onDateSelected($event)"
				(closed)="showCalendar = false">
			</app-custom-calendar>
		</div>

		<button class="btn-search" (click)="buscar()">Buscar</button>
	</div>
</div>