<div class="sidebar">

	<!-- PERFIL -->
	<div class="sidebar-profile">
		<img [src]="'https://ui-avatars.com/api/?name=' + user?.firstName + '&background=3fa2db&color=fff&size=120'"
			alt="profile" class="profile-image" />
		<h3>{{ user?.firstName }} {{ user?.lastName }}</h3>

		<span *ngIf="displayRole">{{ displayRole }}</span>
	</div>

	<!-- MENU ADMIN -->
	<div class="nav-menu">
		<div *ngFor="let item of visibleMenu">

			<!-- ITEM NORMAL -->
			<a *ngIf="!item.children" [routerLink]="item.route" routerLinkActive="active" class="menu-item">

				<div class="menu-left">
					<i [class]="item.icon"></i>

					<span class="menu-label">
						{{ item.label }}
					</span>
				</div>
			</a>

			<!-- ITEM DESPLEGABLE -->
			<div *ngIf="item.children">
				<button class="menu-item dropdown-btn" (click)="toggleMenu(item)">
					<div class="menu-left">
						<i [class]="item.icon"></i>

						<span class="menu-label">
							{{ item.label }}
						</span>
					</div>

					<i class="fa-solid fa-chevron-down dropdown-arrow" [class.rotate]="item.open"></i>
				</button>

				<!-- SUBMENU -->
				<div class="submenu" *ngIf="item.open">

					<a *ngFor="let child of item.children" [routerLink]="child.route" routerLinkActive="active-submenu"
						class="submenu-item">
						{{ child.label }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>