<div class="container">
	<!-- Contenedor de imágenes con superposición -->
	<div class="image-section">
		<div class="img-1">
			<img [src]="images[currentIndex].imgFondo" [alt]="images[currentIndex].titulo">
		</div>
		<div class="img-2">
			<img [src]="images[currentIndex].imgFrente" alt="detalle">
		</div>
	</div>

	<!-- Textos dinámicos -->
	<div class="texts">
		<h2>{{ images[currentIndex].titulo }}</h2>
		<!-- Cambia .description por .descripcion -->
		<p class="description">{{ images[currentIndex].descripcion }}</p>
	</div>

	<!-- Indicadores de barra (Sliders) -->
	<div class="sliders">
		<span *ngFor="let slide of images; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)">
		</span>
	</div>
</div>