<div class="container">
	<div class="img-1">
		<img src="https://lh3.googleusercontent.com/d/1jefTeXq-6r9LKktTu5WhExk-ZeylLRf8" alt="imagen"/>
	</div>
	<div class="img-2">
		<img src="https://lh3.googleusercontent.com/d/1lh62xQfO8J34lKHwnqRp8wmjS9Rk5Bv7" alt="imagen" alt="imagen de viajeros"/>
	</div>
	<div class="texts">
		<h2>Vive Tu Próxima Gran Aventura</h2>
		<p class="description">Explora lugares extraordinarios, conecta con la naturaleza y crea recuerdos que durarán toda la vida. Tu viaje comienza aquí.</p>
	</div>
	<div class="sliders"></div>
</div>