<div class="modal-overlay" *ngIf="isOpen" (click)="closeModal()">
	<div class="create-user-modal" (click)="$event.stopPropagation()">
		<!-- HEADER -->
		<div class="modal-header">

			<h2>Crear Usuario</h2>

			<button type="button" class="close-btn" (click)="closeModal()">
				<i class="fa-solid fa-xmark"></i>
			</button>

		</div>

		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

			<!-- PASO 1 -->
			<div *ngIf="currentStep === 1">

				<div class="form-group">

					<input type="text" formControlName="firstName" placeholder="Nombre"
						[class.ng-invalid]="step1Submitted && f.firstName.errors?.['required']"
						[class.ng-touched]="f.firstName.touched" />

					<label>Nombre</label>

					<span *ngIf="step1Submitted && f.firstName.errors?.['required']">
						El nombre es obligatorio
					</span>

					<span *ngIf="f.firstName.touched && f.firstName.errors?.['minlength']">
						El nombre debe tener al menos 3 caracteres
					</span>

				</div>

				<div class="form-group">

					<input type="text" formControlName="lastName" placeholder="Apellido"
						[class.ng-invalid]="step1Submitted && f.lastName.errors?.['required']"
						[class.ng-touched]="f.lastName.touched" />

					<label>Apellido</label>

					<span *ngIf="step1Submitted && f.lastName.errors?.['required']">
						El apellido es obligatorio
					</span>

				</div>

				<div class="form-group">

					<input type="email" formControlName="email" placeholder="Correo"
						[class.ng-invalid]="step1Submitted && f.email.invalid" [class.ng-touched]="f.email.touched" />

					<label>Correo electrónico</label>

					<span *ngIf="step1Submitted && f.email.errors?.['required']">El correo es obligatorio</span>

					<span *ngIf="step1Submitted && f.email.errors?.['email']">Correo inválido</span>

				</div>

				<div class="modal-actions">

					<button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>

					<button type="button" class="btn-save" (click)="nextStep()">Continuar</button>

				</div>

			</div>

			<!-- PASO 2 -->
			<div *ngIf="currentStep === 2">

				<div class="form-row">

					<div class="form-group form-group-small custom-select-group">

						<div class="custom-select" [class.open]="documentDropdownOpen"
							[class.selected]="selectedDocumentType"
							[class.invalid]="step2Submitted && f.documentType.invalid"
							(click)="toggleDocumentDropdown($event)">

							<div class="custom-select-value">
								{{ selectedDocumentType || 'Tipo documento' }}
							</div>

							<i class="fa-solid fa-angle-down select-icon"></i>

							<div class="custom-select-dropdown" *ngIf="documentDropdownOpen"
								(click)="$event.stopPropagation()">

								<div class="custom-option" *ngFor="let option of documentTypes"
									[class.active]="selectedDocumentType === option"
									(click)="selectDocumentType(option); $event.stopPropagation()">
									{{ option }}
								</div>
							</div>
						</div>

						<label [class.active]="selectedDocumentType">Tipo documento</label>

						<span *ngIf="step2Submitted && f.documentType.invalid">Requerido</span>

					</div>

					<div class="form-group form-group-large">

						<input type="text" formControlName="documentNumber" placeholder="Documento"
							oninput="this.value = this.value.replace(/[^0-9]/g, '')"
							[class.ng-invalid]="step2Submitted && f.documentNumber.invalid"
							[class.ng-touched]="f.documentNumber.touched" />

						<label>Número documento</label>

						<span *ngIf="step2Submitted && f.documentNumber.errors?.['required']">
							Documento obligatorio
						</span>

						<span
							*ngIf="f.documentNumber.touched && (f.documentNumber.errors?.['minlength'] || f.documentNumber.errors?.['maxlength'])">
							Número inválido
						</span>

					</div>

				</div>

				<div class="form-group form-group-password">

					<input type="password" id="password" formControlName="password" placeholder="Contraseña"
						[class.ng-invalid]="step2Submitted && f.password.invalid"
						[class.ng-touched]="f.password.touched" />

					<label>Contraseña</label>

					<span *ngIf="step2Submitted && f.password.errors?.['required']">
						La contraseña es obligatoria
					</span>

					<span *ngIf="f.password.touched && !f.password.errors?.['required'] && f.password.invalid">
						Debe tener 8 caracteres, mayúscula, número y símbolo
					</span>

				</div>

				<div class="form-group form-group-password">

					<input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña"
						[class.ng-invalid]="step2Submitted &&(f.confirmPassword.errors?.['required'] || registerForm.errors?.['mismatch'])" />

					<label>Confirmar contraseña</label>

					<span *ngIf="registerForm.errors?.['mismatch'] && f.confirmPassword.touched">
						Las contraseñas no coinciden
					</span>

					<span *ngIf="step2Submitted && f.confirmPassword.errors?.['required']">
						Debes confirmar la contraseña
					</span>
				</div>

				<div class="modal-actions">
					<button type="button" class="btn-cancel" (click)="prevStep()">Volver</button>

					<button type="submit" class="btn-save" [disabled]="isLoading">
						{{ isLoading ? 'Creando...' : 'Crear usuario' }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- MODAL CONFIRMAR CREACIÓN -->

<app-confirm-modal [isOpen]="showConfirmCreateModal" title="Crear usuario"
	message="¿Estás seguro de que deseas crear este usuario?" confirmText="Crear" cancelText="Cancelar"
	icon="fa-solid fa-circle-question" confirmColor="#3fa2db" iconBg="rgba(63, 162, 219, 0.12)" iconColor="#3fa2db"
	(confirmed)="confirmCreateUser()" (closed)="closeConfirmCreateModal()">
</app-confirm-modal>

<!-- MODAL ERROR -->

<app-confirm-modal [isOpen]="showErrorModal" title="Error" [message]="errorMessage" confirmText="Entendido"
	cancelText="" icon="fa-solid fa-circle-xmark" confirmColor="#ff3b3b" iconBg="rgba(255, 59, 59, 0.12)"
	iconColor="#ff3b3b" (confirmed)="closeErrorModal()" (closed)="closeErrorModal()">
</app-confirm-modal>

<!-- TOAST -->

<app-toast-notification [show]="showToast" title="Usuario creado" message="El usuario fue registrado correctamente.">
</app-toast-notification>