<app-navbar></app-navbar>

<app-filter-gallery></app-filter-gallery>

<div class="gallery-container">
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Hernando - Gorra azul">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Hernando - Gorra azul 2">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Playa">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Sonrisa">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Gafas de sol">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Dos personas">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Traje de baño floral">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Camisa blanca">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Gorra azul detalle">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Traje rojo">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Logo Hernando">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Traje de baño">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Diseño colorido">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Traje floral cerrado">
	</div>
	<div class="photo-item">
		<img src="https://res.cloudinary.com/dqcviyp18/image/upload/f_auto,q_auto:best,dpr_auto,c_fill,w_900,ar_4:5/v1777932610/D%C3%ADa5-12_uuxr8x.jpg" alt="Detalle traje">
	</div>
</div>

<app-footer></app-footer>