/* Separador */
.divider {
	text-align: center;
	margin: 20px 0 26px;
	position: relative;
	color: var(--color-texto-secundario);
	font-size: 14px;
}

.divider::before,
.divider::after {
	content: '';
	position: absolute;
	top: 56%;
	width: 38%;
	height: 1px;
	background: var(--color-iconos);
}

.divider::before {
	left: 0;
}

.divider::after {
	right: 0;
}

/* Botón de redes sociales */
.social-button {
	width: 250px;
	height: 40px;
	border-radius: 500px;
	border: 1px solid var(--color-iconos);
	background: white;
	cursor: pointer;
	font-size: 14px;
	color: var(--color-texto-secundario);
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
	font-family: "Outfit", sans-serif;
	font-size: 16px;
	margin: auto;
}

.social-button:hover {
	border-color: var(--color-iconos);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.social-button svg {
	width: 21px;
}