* {
	margin: 0;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 150px;
	background-color: rgb(246 250 254);
}

.navbar-icon img {
	width: 60px;
}

.navbar-links {
	display: flex;
	gap: 40px;
}

.navbar-links a {
	text-decoration: none;
	color: var(--color-texto-secundario);
	font-size: 18px;
	transition: color 0.2s ease;
}

.navbar-links a:hover {
	color: var(--color-primario);
}

.navbar-auth {
	display: flex;
	gap: 20px;
	text-align: center;
}

.btn-ingresar {
	padding: 6px 14px;
	border: 2px solid var(--color-primario);
	border-radius: 30px;
	color: var(--color-primario);
	text-decoration: none;
	width: 120px;
	cursor: pointer;

}

.btn-registrarse {
	padding: 6px 14px;
	background-color: var(--color-primario);
	color: white;
	border-radius: 30px;
	text-decoration: none;
	width: 120px;
	cursor: pointer;
}