<nav class="navbar">
	<div class="navbar-icon">
		<img src="/assets/images/logo.png" alt="Logo">
	</div>

	<div class="navbar-links">
		<a routerLink="/home" routerLinkActive="active-link">Inicio</a>
		<a routerLink="/packages" routerLinkActive="active-link">Paquetes</a>
		<a routerLink="/gallery" routerLinkActive="active-link">Galería</a>
		<a routerLink="/panel-admin" routerLinkActive="active-link">Panel Administrativo</a>
	</div>

	<!-- SI NO ESTÁ LOGUEADO -->
	<div class="navbar-auth" *ngIf="!authService.isAuthenticated()">
		<a routerLink="/auth/login" class="btn-ingresar">Ingresar</a>
		<a routerLink="/auth/register" class="btn-registrarse">Registrarse</a>
	</div>

	<!-- SI ESTÁ LOGUEADO -->
	<div class="navbar-user" *ngIf="authService.isAuthenticated()">
		<div class="user-info" (click)="toggleDropdown($event)">
			<img [src]="'https://ui-avatars.com/api/?name=' + user?.firstName + '&background=3fa2db&color=fff&size=120'"
				alt="user" class="user-avatar" />
			<div class="user-text">
				<h4>{{ user?.firstName }} {{ user?.lastName }}</h4>
				<span *ngIf="displayRole">
					{{ displayRole }}
				</span>
			</div>
			<i class="fa-solid fa-chevron-down" [class.rotate]="dropdownOpen"></i>
		</div>

		<div class="user-dropdown" *ngIf="dropdownOpen">
			<a routerLink="/panel-admin">Mi perfil</a>
			<a routerLink="/settings">Configuración</a>
			<button (click)="logout()">Salir</button>
		</div>
	</div>
</nav>