<div class="modal-overlay" *ngIf="isOpen" (click)="closeModal()">
	<div class="modal-container" (click)="onModalClick($event)">

		<h2>Subir documento</h2>

		<div class="divider"></div>

		<div class="form-group custom-select-group">

			<div class="custom-select" [class.open]="dropdownOpen" [class.selected]="selectedType"
				(click)="toggleDropdown()">

				<div class="custom-select-value">
					{{ selectedTypeLabel || '' }}
				</div>

				<i class="fa-solid fa-angle-down select-icon"></i>

				<div class="custom-select-dropdown" *ngIf="dropdownOpen">

					<div class="custom-option" [class.active]="selectedType === 'cedula'"
						(click)="selectType('cedula', 'Cédula')">

						Cédula
					</div>

					<div class="custom-option" [class.active]="selectedType === 'pasaporte'"
						(click)="selectType('pasaporte', 'Pasaporte')">

						Pasaporte
					</div>

					<div class="custom-option" [class.active]="selectedType === 'visa'"
						(click)="selectType('visa', 'Visa')">

						Visa
					</div>

					<div class="custom-option" [class.active]="selectedType === 'contrato'"
						(click)="selectType('contrato', 'Contrato')">

						Contrato
					</div>

					<div class="custom-option" [class.active]="selectedType === 'permiso_menor'"
						(click)="selectType('permiso_menor', 'Permiso Menor')">

						Permiso Menor
					</div>

				</div>

			</div>

			<label [class.active]="selectedType">
				Tipo de documento
			</label>

		</div>

		<!-- ARCHIVO -->
		<div class="form-group">

			<input type="file" #fileInput multiple accept=".pdf,.jpg,.jpeg,.png" (change)="onFileSelected($event)"
				hidden>
			<div class="file-upload" (click)="fileInput.click()">

				<div class="selected-files" *ngIf="uploadedFiles.length; else emptyState">

					<div class="selected-files-header">
						<span>Archivos</span>
						<span class="file-count">{{ uploadedFiles.length }}</span>
					</div>

					<div class="selected-files-list">
						<div class="file-card" *ngFor="let item of uploadedFiles; let i = index">
							<div class="file-left">

								<i class="fa-solid fa-file"></i>

								<div class="file-info">
									<span class="file-name">{{ item.file.name }}</span>

									<small>
										{{ item.file.size / 1024 / 1024 | number:'1.0-2' }} MB
									</small>

									<!-- PROGRESS BAR -->
									<div class="progress-bar">
										<div class="progress-fill" [style.width.%]="item.progress">
										</div>
									</div>

									<small class="status" [class.uploading]="item.status==='uploading'"
										[class.success]="item.status==='success'" [class.error]="item.status==='error'">
										{{ item.status }}
									</small>
								</div>
							</div>

							<button class="remove-btn" (click)="removeFile(i); $event.stopPropagation()"
								[disabled]="isUploading">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</div>
					</div>
				</div>

				<ng-template #emptyState>
					<div class="empty-upload">
						<i class="fa-solid fa-cloud-arrow-up"></i>

						<strong>Seleccionar archivos</strong>

						<small>
							PDF, JPG, JPEG, PNG (Máx 10 MB)
						</small>
					</div>
				</ng-template>
			</div>
		</div>

		<div class="buttons">
			<button class="btn-cancel" [disabled]="isUploading" (click)="closeModal()">
				Cancelar
			</button>

			<button class="btn-upload" [disabled]="!uploadedFiles.length || !selectedType || isUploading"
				(click)="upload()">
				Subir documento
			</button>
		</div>
	</div>
</div>