<div class="users-container">

	<!-- TOP BAR -->
	<div class="top-bar">

		<!-- SEARCH -->
		<div class="search-box">
			<input type="text" placeholder="Buscar" [(ngModel)]="search">
			<button>
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</div>

		<!-- FILTER -->
		<div class="filter-wrapper">
			<button class="filter-btn" (click)="toggleDropdown()">
				<div class="filter-content">
					<i class="fa-solid fa-sliders"></i>
					<span>{{ selectedRole }}</span>
				</div>

				<i class="fa-solid fa-chevron-down arrow" [class.rotate]="dropdownOpen"></i>
			</button>

			<div class="dropdown" *ngIf="dropdownOpen">
				<div class="dropdown-item" *ngFor="let role of roles" (click)="selectRole(role)">
					{{ role }}
				</div>
			</div>
		</div>

		<!-- ADD -->
		<button class="add-btn" (click)="openCreateModal()">
			<i class="fa-solid fa-plus"></i>
			<span>Agregar</span>
		</button>
	</div>

	<!-- TABLE -->
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>Correo Electrónico</th>
					<th>Rol</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let user of filteredUsers" [class.row-inactive]="user.status === 'Inactivo'">

					<td>
						<img [src]="user.image">
					</td>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.role }}</td>
					<td>
						<span class="status" [class.active]="user.status === 'Activo'"
							[class.inactive]="user.status === 'Inactivo'">
							{{ user.status }}
						</span>
					</td>
					<td>
						<div class="actions">

							<button class="view" (click)="openViewModal(user)">
								<i class="fa-regular fa-eye"></i>
							</button>

							<button class="edit" (click)="openEditModal(user)">
								Editar
							</button>

							<button class="delete" [class.activate]="user.status === 'Inactivo'"
								(click)="openStatusModal(user)" [disabled]="isCurrentUser(user)">
								{{ user.status === 'Activo' ? 'Desactivar' : 'Activar' }}
							</button>

						</div>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- MODAL ELIMINAR -->

<!-- MODAL CAMBIO ESTADO -->

<app-confirm-modal [isOpen]="showStatusModal" [title]="statusAction === 'desactivar'
		? 'Desactivar usuario'
		: 'Activar usuario'" [message]="statusAction === 'desactivar'
		? '¿Estás seguro de que deseas desactivar el usuario ' + selectedUser?.name + '?'
		: '¿Estás seguro de que deseas activar el usuario ' + selectedUser?.name + '?'" [confirmText]="statusAction === 'desactivar'
		? 'Desactivar'
		: 'Activar'" cancelText="Cancelar" [icon]="statusAction === 'desactivar'
		? 'fa-solid fa-triangle-exclamation'
		: 'fa-solid fa-circle-check'" [confirmColor]="statusAction === 'desactivar'
		? '#ff3b3b'
		: '#3fa2db'" [iconBg]="statusAction === 'desactivar'
		? 'rgba(255, 59, 59, 0.12)'
		: 'rgba(63, 162, 219, 0.12)'" [iconColor]="statusAction === 'desactivar'
		? '#ff3b3b'
		: '#3fa2db'" (confirmed)="confirmStatusChange()" (closed)="closeStatusModal()">

</app-confirm-modal>

<!-- TOAST -->

<app-toast-notification [show]="showToast" type="success" title="Usuario eliminado"
	[message]="'El usuario ' + selectedUser?.name + ' fue desactivado correctamente.'">
</app-toast-notification>

<!-- MODAL EDITAR ROL -->

<app-edit-user-role-modal [isOpen]="showEditModal" [user]="selectedUser" (closed)="closeEditModal()"
	(updated)="onRoleUpdated($event)">
</app-edit-user-role-modal>

<!-- MODAL VISUALIZAR USUARIO -->

<app-view-user-modal [isOpen]="showViewModal" [user]="selectedUser" (closed)="closeViewModal()">
</app-view-user-modal>

<!-- MODAL CREAR USUARIO -->

<app-create-user-modal [isOpen]="showCreateModal" (closed)="closeCreateModal()" (created)="loadUsers()">
</app-create-user-modal>