<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
	<div class="modal-container" (click)="$event.stopPropagation()">
		<button class="close-btn" (click)="close()">
			<i class="fa-solid fa-xmark"></i>
		</button>
		<div class="modal-scroll">
			<div class="modal-content">

				<!-- TITLE -->

				<h2 class="modal-title">
					{{ media ? 'Editar' : 'Subir' }}
					<span>Archivo</span>
				</h2>

				<div class="divider"></div>

				<form [formGroup]="mediaForm">

					<!-- =========================
						UPLOAD
					========================= -->

					<div class="upload-wrapper">
						<label class="upload-box"
							[class.upload-error]="!selectedFiles.length && !media && mediaForm.touched">
							<input type="file" hidden multiple accept="image/*,video/*"
								(change)="onFileSelected($event)" />
							<!-- PREVIEW -->

							<div class="preview-grid" [class.single-preview]="previews.length === 1"
								*ngIf="previews.length">
								<div class="preview-card" *ngFor="let preview of previews; let i = index">
									<img *ngIf="selectedFiles[i]?.type?.startsWith('image') ||(!selectedFiles[i] && media?.type === 'IMAGE')"
										[src]="preview" class="preview-image" />

									<video
										*ngIf="selectedFiles[i]?.type?.startsWith('video') ||(!selectedFiles[i] && media?.type === 'VIDEO')"
										[src]="preview" class="preview-video" controls>
									</video>

									<button type="button" class="remove-image-btn" (click)="removeFile(i, $event)">
										<i class="fa-solid fa-xmark"></i>
									</button>
								</div>

							</div>

							<!-- PLACEHOLDER -->

							<div class="upload-placeholder" *ngIf="!previews.length">
								<div class="upload-icon">
									<i class="fa-solid fa-camera"></i>
								</div>

								<p>Seleccionar archivo</p>
							</div>
						</label>
						<div class="upload-helper">
							<i class="fa-solid fa-circle-info"></i>
							Puedes seleccionar una o varias imágenes y videos.
						</div>

						<span class="upload-error-text" *ngIf="!selectedFiles.length && !media && mediaForm.touched">
							Debe seleccionar un archivo
						</span>
					</div>

					<!-- TYPE -->

					<div class="form-group custom-select-group">
						<select formControlName="type"
							[class.ng-invalid]="mediaForm.get('type')?.invalid && mediaForm.get('type')?.touched">
							<option value="" disabled hidden></option>
							<option value="IMAGE">Imagen</option>
							<option value="VIDEO">Video</option>
						</select>

						<label>Tipo de archivo</label>


						<span *ngIf="mediaForm.get('type')?.invalid && mediaForm.get('type')?.touched">
							El tipo es obligatorio
						</span>
					</div>

					<!-- YEAR -->

					<div class="form-group custom-select-group">
						<select formControlName="year"
							[class.ng-invalid]="mediaForm.get('year')?.invalid && mediaForm.get('year')?.touched">
							<option value="" disabled hidden></option>
							<option *ngFor="let year of years" [value]="year">{{ year }}</option>
						</select>

						<label>Año</label>

						<i class="fa-solid fa-chevron-down select-icon"></i>

						<span *ngIf="mediaForm.get('year')?.invalid && mediaForm.get('year')?.touched">
							El año es obligatorio
						</span>
					</div>

					<!-- EXCURSION -->

					<div class="form-group">
						<input type="text" placeholder=" " formControlName="excursion"
							[class.ng-invalid]="mediaForm.get('excursion')?.invalid && mediaForm.get('excursion')?.touched" />

						<label>Ubicación</label>

						<span *ngIf="mediaForm.get('excursion')?.invalid && mediaForm.get('excursion')?.touched">
							La ubicación es obligatoria
						</span>
					</div>

					<!-- LOCATION -->

					<div class="form-group">
						<input type="text" placeholder=" " formControlName="activity"
							[class.ng-invalid]="mediaForm.get('activity')?.invalid && mediaForm.get('activity')?.touched" />

						<label>Actividad</label>

						<span *ngIf="mediaForm.get('activity')?.invalid && mediaForm.get('activity')?.touched">
							La Actividad es obligatoria
						</span>
					</div>
				</form>

				<!-- BUTTONS -->

				<div class="buttons">
					<!-- BUTTONS -->

					<div class="buttons">
						<button class="cancel" type="button" (click)="close()">
							Cancelar
						</button>

						<button class="save" type="button" [disabled]="loading" (click)="requestSubmit()">
							{{ loading? (media ? 'Actualizando...' : 'Subiendo...') :
							(media ? 'Actualizar archivo' : 'Subir archivo')}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-confirm-modal [isOpen]="showConfirmModal" [title]="media ? 'Actualizar archivo' : 'Subir archivo'"
	[message]="media ? '¿Deseas guardar los cambios realizados en este archivo?' : '¿Deseas subir este archivo a la galería?'"
	[confirmText]="media ? 'Actualizar' : 'Subir'" cancelText="Cancelar" icon="fa-solid fa-cloud-arrow-up"
	confirmColor="#3fa2db" iconBg="rgba(63, 162, 219, 0.12)" iconColor="#3fa2db" (confirmed)="confirmSubmit()"
	(closed)="closeConfirmModal()">
</app-confirm-modal>