.admin-layout {
	display: flex;
	height: calc(100vh - 92.8px);
	overflow: hidden;
}

.admin-content {
	flex: 1;
	padding: 40px;
	padding-bottom: 120px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}