@font-face {
	font-family: 'Outfit';
	src: url('assets/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gratise';
	/* Si se quiere utilizar este tipo de letra es: "Gratise", sans-serif*/
	src: url('assets/fonts/gratise/Gratise.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

body {
	font-family: "Outfit", sans-serif;
}

* {
	margin: 0;
}

:root {
	/* Colores base */
	--color-fondo: #ffffff;
	--color-primario: #3fa2db;
	--color-primario-claro: #b5e5ff;
	--color-primario-oscuro: #123862;
	--color-navegador: #f8f8f8;
	--color-error: #ef4444;

	/* Texto */
	--color-texto-principal: #000000;
	--color-texto-secundario: #6b7280;

	/* Iconos */
	--color-iconos: #d1d5db;
	--color-fondo-iconos:#b5e5ff8b;

	/* Banner */
	--color-fondo-banner: #f6fcff;

	/* Navegador */
	--color-fondo-navegador: #f8f8f8;

}