.body{
	display: flex;
	width: 80%;
	height: 100vh;
	gap: 80px;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.body > * {
	flex: 1;
	min-width: 0; /* evita desbordes raros */
}